* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    /* background-color: rgb(164, 164, 164); */
    padding: 0px 64px;
    height: 100vh;
    /* width: 100vw; */
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    transform: translateY(-100%);
    /* escondido */
    transition: transform 0.6s ease;
    z-index: 1000;
    position: fixed;
    height: 90px;
    width: 100%;
    left: 0;
    top: 0;
}


#header.mostrar {
    transform: translateY(0%);

}

#logo {
    font-size: 4rem;
    color: #A4905B;
    text-shadow: 0px 2px 4px #e8d178;
    font-family: "Parisienne", cursive;
    font-weight: 300;
    font-style: normal;
    padding: 0px 12px;
}

.ns-advocacia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.ns-advocacia h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.ns-advocacia h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    color: #A4905B;
}

.space-header {
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;

}


.previa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 60px 5%;
    line-height: 1.5;

}

.previa img {
    height: auto;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgb(82, 82, 82);
    margin: 5px 0px;
    /* width: 50%; */
}

.previa h2 {
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}

.previa h3 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.servicos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
    background-color: #A4905B;
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 700px;
}

.card-servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #e6e6e6;
    padding: 20px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 12px;
    width: 380px;
    height: 500px;
    box-shadow: 0px 2px 8px rgb(138, 138, 138);
}

.card-servico img {
    border-radius: 8px;
}

.card-servico h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-align: center;
}

.card-servico p {
    line-height: 1.5;
    text-align: justify;
    color: #4a4a4a;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px ;
    padding: 60px 0px;

}

.sobre p {
    /* background-color: red; */
    width: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-style: oblique;
    padding: 30px;
    text-align: justify;
}

.sobre img {
    border-radius: 100%;
    width: 500px;
}