* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    transform: translateY(-100%);
    /* escondido */
    transition: transform 0.6s ease;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

#header.mostrar {
    transform: translateY(0);
}

#logo {
    font-size: 4rem;
    color: #A4905B;
    text-shadow: 0px 2px 4px #e8d178;
    font-family: "Parisienne", cursive;
    font-weight: 300;
    font-style: normal;
    padding: 0px 12px;
}

.ns-advocacia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ns-advocacia h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.ns-advocacia h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
}

nav ul {
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 30px;
}


nav ul li {
    list-style-type: none;
    /* background-color: #e8d178; */
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: aqua; */
}

nav ul li a:hover {
    color: #A4905B;

}

.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    height: auto;
    gap: 10px;
    background-color: #f5f5f5c3;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.redes-sociais img {
    width: 36px;
}

.redes-sociais img:hover {
    width: 38px;
    background-color: #e8d278d8;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #fff;
}

main {
    background-image:
        url("../img/img1Header.webp"),
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 100vh;
}

.test {
    background-color: #e8d178;
    width: 300px;
    height: 800px;
}