* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    /* justify-content: center; */
    height: 1080px;
    background-image:
        url("../img/img1Header.webp"),
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.logo {
    height: 210px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.814);
}

#logo {
    font-size: 6rem;
    color: #A4905B;
    padding-top: 8px;
    text-shadow: 0px 2px 4px #e8d178;
    font-family: "Parisienne", cursive;
    font-weight: 300;
    font-style: normal;



}

.ns-advocacia {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.ns-advocacia h1,
h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    height: auto;
    gap: 10px;
    /* background-color: #f5f5f5c3; */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.redes-sociais img {
    width: 36px;
}

.redes-sociais img:hover {
    width: 38px;
    background-color: #e8d278d8;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #fff ;
}

 