* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    /* align-items: center;  */
    justify-content: center;
    height: 1080px;
    background-image:
        url("../img/img1Header.webp"),
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.logo {
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
      margin-top: 50px;
}

#logo {

    display: inline;
    font-size: 10rem;
    color: #A4905B;
    text-shadow: 0px 2px 4px #e8d178;
    font-family: "Parisienne", cursive;
    font-weight: 300;
    font-style: normal;



}

.ns-advocacia {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.ns-advocacia h1,
h2 {
    color: #ffffff;
}