* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1E231F;
    width: 100%;
    padding: 5px 16px;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    /* width: 100%; */
    gap: 5px;
}

header nav ul {
    width: 100%;
    display: none;
}

header nav ul li {
    list-style: none;
    margin: 5px 0px;
    border-radius: 8px;
    padding: 2px;
    background-color: #a4915b7e;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#close_hamburguer {
    width: 24px;
    height: 24px;
    display: none;
}

#open_hamburguer {
    width: 24px;
    height: 24px;
    /* display: block; */
    /* top: 0; */
}

.ns-advocacia {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    font-size: 3rem;
    color: #A4905B;
    text-shadow: 0px 2px 4px #e8d178;
    font-family: "Parisienne", cursive;
    font-weight: 300;
    font-style: normal;
    padding: 0px 12px;
}

.ns-advocacia h1 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.3rem;
}

.ns-advocacia h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.whatsapp-icon {
    position: fixed;
    right: 20px;
    z-index: 9999;
    bottom: 30px;
    /* width: 24px; */
    /* height: 24px; */
    /* background-color: red; */
}

.whatsapp-icon img {
    position: relative;
    z-index: 9999;
}

.btn-consulta {
    background-color: #d4af37;
    color: #000;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.previa {
    height: 500px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
        url("../img/adv.jpg")no-repeat center center;
    background-size: cover;
}

.previa article {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 16px;
}

.previa img {
    height: auto;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgb(82, 82, 82);
    margin: 5px 0px;
}

.previa h2 {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
    color: #ffffff;
}

.previa h3 {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
    color: #ffffff;

}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    padding: 30px 16px;
    background-color: #A4905B;
    width: 100%;
}

.servicos div {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.servicos div h2 {
    border: solid 1px #35353552;
    box-shadow: 0px 2px 4px rgb(74, 74, 74);
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 1.1rem;
    margin-bottom: 10px;


}

.servicos div h4 {
    text-align: center;
    font-size: 24px;
}

.card-servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #e6e6e6;
    padding: 15px 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 12px;
    /* width: 380px; */
    /* height: 400px; */
    box-shadow: 0px 2px 8px rgb(138, 138, 138);

}

.card-servico img {
    border-radius: 8px;
}

.card-servico h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
}

.card-servico p {
    line-height: 1.5;
    text-align: justify;
    color: #4a4a4a;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre {
    /* background-color: #A4905B; */
    text-align: center;
    padding: 20px;
}

.sobre h2 {
    margin-bottom: 30px;
    font-size: 36px;
}

.sobre h3 {
    /* margin-bottom: 30px; */
    font-size: 30px;
}

.sobre-img {
    /* background-color: #A4905B; */
    border-radius: 100%;
    text-align: center;

}

.sobre-text {
    /* background-color: aquamarine; */
    text-align: justify;
    padding: 20px 50px;

}

.container {
    background-color: #4a4a4a;
}

@media (min-width:900px) {



    .container {
        /* background-color: rgb(164, 164, 164); */
        padding: 0px 64px;
        /* height: 100vh; */
        /* width: 100%; */
    }

    #header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: #000;
        transform: translateY(-100%);
        /* escondido */
        transition: transform 0.6s ease;
        z-index: 1000;
        position: fixed;
        height: 90px;
        width: 100%;
        left: 0;
        top: 0;
    }


    #header.mostrar {
        transform: translateY(0%);

    }

    #logo {
        font-size: 4rem;
        color: #A4905B;
        text-shadow: 0px 2px 4px #e8d178;
        font-family: "Parisienne", cursive;
        font-weight: 300;
        font-style: normal;
        padding: 0px 12px;
    }

    .ns-advocacia {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }

    .ns-advocacia h1 {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 24px;
    }

    .ns-advocacia h2 {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 18px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 0px 30px;
    }

    nav ul li {
        list-style-type: none;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        padding: 5px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    nav ul li a:hover {
        color: #A4905B;
    }


    .space-header {
        background-color: rgb(255, 255, 255);
        height: 90px;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;

    }

    .previa {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 40px;
        padding: 60px 64px;
        line-height: 1.5;
    }

    .previa img {
        height: auto;
        max-width: 350px;
        border-radius: 8px;
        box-shadow: 0px 2px 10px rgb(82, 82, 82);
        margin: 5px 0px;
    }

    .previa h2 {
        font-size: 2.5rem;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    .previa h3 {
        font-size: 1.5rem;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    .servicos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;
        padding: 60px 64px;
        background-color: #A4905B;
        width: 100%;
    }

    .card-servico {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #e6e6e6;
        padding: 20px;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 12px;
        width: 380px;
        height: 500px;
        box-shadow: 0px 2px 8px rgb(138, 138, 138);
    }

    .card-servico img {
        border-radius: 8px;
    }

    .card-servico h3 {
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
    }

    .card-servico p {
        line-height: 1.5;
        text-align: justify;
        color: #4a4a4a;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .sobre {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 60px 0px;
    }

    .sobre p {
        width: 400px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
        font-style: oblique;
        padding: 30px;
        text-align: justify;
        /* opacity: 0; */
        /* transform: translateX(-80px); */
        /* transition: 0.6s ease; */
    }

    .sobre img {
        border-radius: 100%;
        width: 500px;
        /* opacity: 0; */
        /* transform: translateX(-80px); */
        /* transition: 0.6s ease; */
    }

    .btn-consulta {
        background-color: #d4af37;
        color: #000;
        border: none;
        padding: 12px 25px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    }

    .btn-consulta:hover {
        background-color: #b9972f;
        transform: scale(1.05);
    }

    .whatsapp-icon {
        position: fixed;
        right: 20px;
        z-index: 9999;
        bottom: 30px;
    }



}